            <div class="certifications-container container-block">
                <h2 class="container-block-title">{{ i18n "certifications" }}</h2>
				{{ range .Site.Params.certifications.list }}
                <div class="item">
                    <h4 class="degree">{{ .certificate }}</h4>
                    <h5 class="meta">{{ .editor }}</h5>
                    <div class="time">{{ .dates }}</div>
                </div><!--//item-->
				{{ end }}
            </div><!--//certifications-container-->
