            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
				{{ range .Site.Params.contact.list }}
                    <li class="{{ .class }}"><i class="{{ with .iconStyle }}{{.}}{{else}}fa{{end}} {{ .icon }}"></i> <a href="{{ .url }}">{{ .title }}</a></li>
				{{ end }}
                </ul>
            </div><!--//contact-container-->
