            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="{{ with .Site.Params.projects.iconStyle }}{{.}}{{else}}fa{{end}} {{ .Site.Params.projects.icon }}"></i></span>{{ with .Site.Params.projects.title }}{{.}}{{else}}{{ i18n "projects" }}{{end}}</h2>
                <div class="intro">
                    <p>{{ with .Site.Params.projects.intro }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//intro-->
				{{ range .Site.Params.projects.list }}
                <div class="item">
                    <span class="project-title"><a href="{{ .url }}">{{ .title }}</a></span> - <span class="project-tagline">{{ with .tagline }}{{ . | markdownify }}{{ end }}</span>
                </div><!--//item-->
				{{ end }}
            </section><!--//section-->
