            <section class="section roles-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa {{ .Site.Params.roles.icon }}"></i></span>{{ i18n "roles" }}</h2>
                <div class="intro">
                    <p>{{ with .Site.Params.roles.intro }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//intro-->

				{{ range .Site.Params.roles.list }}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ .project }}</h3>
                            <div class="time">{{ .dates }}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{ .company }}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                    </div><!--//details-->
                </div><!--//item-->
				{{ end }}

            </section><!--//section-->
