            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa {{ .Site.Params.skills.icon }}"></i></span>{{ i18n "skills" }}</h2>
                <div class="skillset">
				{{ range .Site.Params.skills.skillset }}
                        <h3 class="section-title">{{ .skillset }}</h3>
				{{ range where $.Site.Params.skills.list "skillset" .skillset }}
                    <div class="item">
                        <h3 class="level-title">{{ .skill }}</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar level-bar-inner" role="progressbar" style="width: {{ .level }}" aria-valuenow="{{ .level }}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                {{ end }}
                {{ end }}
                </div>
            </section><!--//skills-section-->
