<!DOCTYPE html>
    {{ partial "lang.html" . }}
<head>
    {{ partial "head.html" . }}
</head>

<body>
    <div class="wrapper">

    {{ partial "sidebar.html" . }}

	<div class="main-wrapper">

    {{ if .Site.Params.summary.enable }}
	{{ partial "summary.html" . }}
    {{ end }}

    {{ if .Site.Params.experiences.enable }}
    {{ partial "experiences.html" . }}
    {{ end }}

    {{ if .Site.Params.roles.enable }}
    {{ partial "roles.html" . }}
    {{ end }}

    {{ if .Site.Params.projects.enable }}
    {{ partial "projects.html" . }}
    {{ end }}

    {{ if .Site.Params.skills.enable }}
	{{ partial "skills.html" . }}
    {{ end }}

    {{ if .Site.Params.volunteering.enable }}
    {{ partial "volunteering.html" . }}
    {{ end }}


	</div><!--//main-wrapper-->
    </div>

    {{ partial "footer.html" . -}}
</body>
</html>
